<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981313773355-q6h6q93ct9akglrjq9i1vu497bbebcr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981313773355-q6h6q93ct9akglrjq9i1vu497bbebcr6</string>
	<key>API_KEY</key>
	<string>AIzaSyDWIeVH8mDo8SGUuD6uO1Hdc_9YgS9w_6s</string>
	<key>GCM_SENDER_ID</key>
	<string>981313773355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEluxApp</string>
	<key>PROJECT_ID</key>
	<string>elux-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>elux-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981313773355:ios:18b97e543a77651f5cef6e</string>
</dict>
</plist>